<div>
    <nav>
        <ul class="menuItems">
            <li><a href="/">Home</a></li>
            <li><a href="/admin/ranking">Ranking</a></li>
            <li><a href="/admin/results">Matches</a></li>
            <li><a href="/admin/opens">Opens</a></li>
            <li><a href="/admin/about">About</a></li>
            <li>
                <a href="#" onclick="document.getElementById('logout').submit()">Sign out</a>
                <form action="/logout" method="post" id="logout">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
            </li>
        </ul>
    </nav>
</div>