<footer class="footer mt-auto py-3 bg-dark">
  <div class="container">
    <span class="text-muted">KTP - <span id="currentYear"></span></span>
  </div>
</footer>

<script>
  document.getElementById("currentYear").innerHTML = new Date().getFullYear();
</script>