<%
  let homeName = match.homeName || "N/A";
  let awayName = match.awayName || "N/A";
  let winner = match.wins1 > match.wins2 ? 'winner-top' : 'winner-bottom';
%>

<div class="match">
  <div>
    <div class="input-group">
      <input type="text" disabled class="form-control" value="<%= homeName %>">
      <span class="input-group-text"><%= match.wins1 %></span>
    </div>
  </div>
  <div>
    <div class="input-group">
      <input type="text" disabled class="form-control" value="<%= awayName %>">
      <span class="input-group-text"><%= match.wins2 %></span>
    </div>
  </div>
</div>
