<nav class="navbar navbar-expand-md fixed-top bg-dark-subtle">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">KTP - 2025</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link " href="/ranking">Ranking</a></li>
            <li class="nav-item"><a class="nav-link " href="/results/1?name=''">Matches</a></li>
            <li class="nav-item"><a class="nav-link " href="/open">Opens</a></li>
            <li class="nav-item"><a class="nav-link " href="/about">About</a></li>
            <% if(!isAuthenticated ) { %>
                <li class="nav-item"><a class="nav-link " href="/login">Login</a></li>
            <% } else { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Admin tools</a>
        
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/admin/ranking">Edit players</a></li>
                        <li><a class="dropdown-item" href="/admin/results">Edit results</a></li>
                        <li> <a class="dropdown-item" href="/admin/opens">Edit opens</a></li>
                        <li> <a class="dropdown-item" href="/admin/about">Edit content</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li> <a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </li>
            <% } %>
        </ul>
      </div>
    </div>
</nav>