<div>
    <nav>
        <ul class="menuItems">
            <li><a href="/">Home</a></li>
            <li><a href="/ranking">Ranking</a></li>
            <li><a href="/results">Matches</a></li>
            <li><a href="/opens">Opens</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login">Login</a></li> 
        </ul>
    </nav>
</div>