<%
    let player;
    if (match && match.expand) {
        if (name === 'home' && match.expand.home) {
            player = match.expand.home;
        } else if (name === 'away' && match.expand.away) {
            player = match.expand.away;
        }
    }
%>
<select class="form-select" name="<% name %>" id="<% name %>">
    <option value="" disabled selected>Valitse...</option>
    <% players?.forEach(function(c) { %>
        <option value='<%= c?.id %>' <%= player?.id != null && c?.id === player?.id ? "selected" : '' %>><%= c.name %></option>
    <% }) %>
</select>