<%
    let player;
    if (match && players) {
        if (name === 'home') {
            player = players.find(p => p.id === match.player1);
        } else if (name === 'away') {
            player = players.find(p => p.id === match.player2);
        }
    }
%>
<select class="form-select" name="<% name %>" id="<% name %>">
    <option value="" disabled selected>Valitse...</option>
    <% players?.forEach(function(c) { %>
        <option value='<%= c?.id %>' <%= player?.id != null && c?.id === player?.id ? "selected" : '' %>><%= c.name %></option>
    <% }) %>
</select>
