<%
    let player;
    if (match) {
        player = name === 'home' ? match.expand?.home : match.expand?.away
    }
%>
<select class="form-select" name="<% name %>" id="<% name %>">
    <option value="" disabled>Valitse...</option>
    <% players?.forEach(function(c) { %>

        <option value='<%= c.id %>' <%= c.id === player.id ? "selected" : '' %>><%= c.name %></option>
    <% }) %>
</select>
