<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KuopioTennisPro</title>
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="css/bracket.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="css/navigation.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>   
    <main><%- body %></main>
    <%- include('../partials/footer.ejs') %>

</body>
</html>