<!DOCTYPE html>
<script>
    // Immediate execution to prevent flickering
    (function() {
        const savedTheme = localStorage.getItem('theme') || 'light';
        document.documentElement.setAttribute('data-bs-theme', savedTheme);
    })();
</script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title>ktp (ei se kotkalainen)</title>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
    <script src="/js/jQuery.js"></script>
    <script src="/js/extras.js"></script>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="container-fluid">
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8 shadow-lg p-2 rounded">
            <%- body %>
          </div>
          <div class="col-md-2"></div>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>

</body>
</html>
