.ranking_table {
    counter-reset: rowNumber;
    border: none;
  }
  
  .ranking_table  #tractor::before {
    display: table-cell;
    counter-increment: rowNumber;
    content: counter(rowNumber) ".";
    padding-right: 0.3em;
    text-align: left;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.61);
  }

.filter {
  background-image: url('/img/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 49%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}