<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>
<div>
  <div class="list-group">
    <a href="/admin/ranking" class="list-group-item list-group-item-action">Edit players</a>
    <a href="/admin/results" class="list-group-item list-group-item-action">Edit results</a>
    <a href="/admin/opens" class="list-group-item list-group-item-action">Edit opens</a>
    <a href="/admin/about" class="list-group-item list-group-item-action">Edit content</a>
  </div>
</div>
