<main class="form-signin">
	<form action="/login/password" method="post">
		<div class="form-floating">
			<input type="username" name="username" class="form-control" id="floatingInput" placeholder="username">
			<label for="floatingInput">Email address</label>
		</div>
		<div class="form-floating">
			<input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
			<label for="floatingPassword">Password</label>
		</div>
		
		<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
		<input class="w-100 btn btn-lg btn-primary" type="submit" value="Log in"/>
	</form>
</main>