<%- include('./partials/openSelector.ejs', { opens: opens }) %>

<% if (openMatches && openMatches && openMatches.length > 0) { %>
	<div class="theme-light container align-content-start">
		<h1><%- open.name %> <%- open.year %></h1>
		<div class="bracket row justify-content-between">
			<%
				const rounds = {};
				openMatches.forEach(match => {
					if (!rounds[match.openRound]) {
						rounds[match.openRound] = [];
					}
					rounds[match.openRound].push(match);
				});
			%>

			<% Object.keys(rounds).forEach(round => { %>
				<div class="col">
					<h2>
						<% if (round == 1) { %>Ensimmäinen kierros<% }
						else if (round == 2) { %>Toinen kierros<% }
						else if (round == 3) { %>Finaali<% } %>
					</h2>
					<div class="column">
						<% rounds[round].forEach(match => { %>
							<%- include('./partials/match.ejs', { match: match }) %>
						<% }); %>
					</div>
				</div>
			<% }); %>
		</div>
	</div>
<% } else { %>
	<% if (open == null) { %>
		<div class="alert alert-warning" role="alert">
			Select tournament!
		</div>
	<% } else { %>
		<div class="alert alert-warning" role="alert">
			The tournament has not started
		</div>
	<% } %>
<% } %>