<table class="ranking_table table table-dark" style="width: 50%; margin-left: 25%;">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Group</th>
        <th>Points</th>
    </tr>
    <% players?.forEach(function(c) { %>
        <tbody>
            <tr key=<%= c.id %> id="tractor">
                <td> <%= c.name %> </td>
                <td> <%= c.group %> </td>
                <td> <%= c.points %> </td>
            </tr>
        </tbody>
    <% }) %>
</table>

