.matchwrapper {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
}

.home {
    width: 50%;
    float: left;
}

.away {
    width: 50%;
    float: right;
}

.aboutwrapper {
    width: 94%;
    margin: 3%;
}

.text {
    width: 100%;
    height: 300px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;

}
.title {
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

select {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 0 1em 0 0;
    margin-bottom: 5px;
    width: 100%;
    height: 50px;
}

  .playerform {
    width: 100%;
    margin-bottom: 12px;
  }

  .playerform#small {
    width: 40%;
  }

