nav .menuItems {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav .menuItems li {
    margin: 10px;
}
nav .menuItems li a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
nav .menuItems li a::before {
    content: attr(data-item);
    transition: 0.5s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
}
nav .menuItems li a:hover::before {
    width: 100%;
    transition: all 0.5s ease-in-out;
}