@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
body {
  font-family: 'source sans pro', sans-serif;
  background-color: #2A363B;
  color: #310B0B;
  color-scheme: light dark;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

main {
  box-sizing: border-box;
  margin: 5%;
  width: 90%;
  flex-direction: column;
}

.footer {
  font-size: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 5%;
  height: auto;
}

.ranking_table {
  counter-reset: rowNumber;
  border: none;
}

.ranking_table  #tractor::before {
  display: table-cell;
  counter-increment: rowNumber;
  content: counter(rowNumber) ".";
  text-align: left;
  padding: 15px;
}

.filter {
  background-image: url('../img/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

h1 {
	color: #F5D061;
}

 .bracket {
	 padding: 40px;
	 margin: 5px;
	 display: flex;
	 flex-direction: row;
	 position: relative;
}
 .column {
	 display: flex;
	 flex-direction: column;
	 min-height: 100%;
	 justify-content: space-around;
	 align-content: center;
}
 .match {
	 position: relative;
	 display: flex;
	 flex-direction: column;
	 min-width: 240px;
	 max-width: 240px;
	 height: 62px;
	 margin: 12px 24px 12px 0;
}
 .match .match-top {
	 border-radius: 2px 2px 0 0;
}
 .match .match-bottom {
	 border-radius: 0 0 2px 2px;
}
 .match .team {
	 display: flex;
	 align-items: center;
	 width: 100%;
	 height: 100%;
	 border: 1px solid black;
	 position: relative;
}
 .match .team span {
	 padding-left: 8px;
}
 .match .team span:last-child {
	 padding-right: 8px;
}
 .match .team .score {
	 margin-left: auto;
}
 .match .team:first-child {
	 margin-bottom: -1px;
}
 .match-lines {
	 display: block;
	 position: absolute;
	 top: 50%;
	 bottom: 0;
	 margin-top: 0;
	 right: -1px;
}
 .match-lines .line {
	 background: red;
	 position: absolute;
}
 .match-lines .line.one {
	 height: 1px;
	 width: 12px;
}
 .match-lines .line.two {
	 height: 44px;
	 width: 1px;
	 left: 11px;
}
 .match-lines.alt {
	 left: -12px;
}
 .match:nth-child(even) .match-lines .line.two {
	 transform: translate(0, -100%);
}
 .column:first-child .match-lines.alt {
	 display: none;
}
 .column:last-child .match-lines {
	 display: none;
}
 .column:last-child .match-lines.alt {
	 display: block;
}
 .column:nth-child(2) .match-lines .line.two {
	 height: 88px;
}
 .column:nth-child(3) .match-lines .line.two {
	 height: 175px;
}
 .column:nth-child(4) .match-lines .line.two {
	 height: 262px;
}
 .column:nth-child(5) .match-lines .line.two {
	 height: 349px;
}
 .theme-light {
	 border-color: #e6eaf7;
	 width: 50%;
	 margin-left: 25%;
}
 .theme-light .match-lines .line {
	 background: #dadfe3;
}
 .theme-light .team {
	 background: #fff;
	 border-color: #dadfe3;
	 color: #708392;
}
 .theme-light .winner-top .match-top, .theme-light .winner-bottom .match-bottom {
	 background: #fff;
	 color: #272f36;
	 border-color: #dadfe3;
}
 .theme-light .match .seed {
	 color: #9fafbf;
}
 .theme-light .match .score {
	 color: #9fafbf;
}
 .theme-light .match .seed {
	 font-size: 12px;
	 min-width: 10px;
}
 .theme-light .match .score {
	 font-size: 14px;
}
 
 .disable-borders {
	 border-width: 0 !important;
}
 .disable-borders .team {
	 border-width: 0 !important;
}
 .disable-seperator .match-top {
	 border-bottom: 0 !important;
}
 .disable-seperator .match-bottom {
	 border-top: 0 !important;
}
 .disable-seperator .team:first-child {
	 margin-bottom: 0;
}