@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
body {
  font-family: 'source sans pro', sans-serif;
  color-scheme: light dark;
  box-sizing: border-box;
  height: 100%;
  padding-top: 4.5em;
  margin: 0;
}

main {
  box-sizing: border-box;
  margin: 5%;
  width: 90%;
  flex-direction: column;
}

.footer {
  font-size: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  border-radius: 5%;
  height: auto;
}

.ranking-table {
  counter-reset: rowNumber;
  border: none;
  background-color: inherit;
}

.ranking-table  #tractor::before {
  display: table-cell;
  counter-increment: rowNumber;
  content: counter(rowNumber) ".";
  text-align: left;
  padding: 15px;
  background-color: inherit;
}

.filter {
  background-image: url('../img/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

 .bracket {
	 padding: 40px;
	 margin: 5px;
	 display: flex;
	 flex-direction: row;
	 position: relative;
}
 .column {
	 display: flex;
	 flex-direction: column;
	 min-height: 80%;
	 justify-content: space-around;
	 align-content: center;
}
 .match {
	 position: relative;
	 display: flex;
	 flex-direction: column;
	 min-width: 240px;
	 max-width: 240px;
	 height: 62px;
	 margin: 12px 24px 12px 0;
}
 .match .match-top {
	 border-radius: 2px 2px 0 0;
}
 .match .match-bottom {
	 border-radius: 0 0 2px 2px;
}
 .match .team {
	 display: flex;
	 align-items: center;
	 width: 100%;
	 height: 100%;
	 border: 1px solid black;
	 position: relative;
}
 .match .team span {
	 padding-left: 8px;
}
 .match .team span:last-child {
	 padding-right: 8px;
}
 .match .team .score {
	 margin-left: auto;
}
 .match .team:first-child {
	 margin-bottom: -1px;
}