.ranking_table {
    counter-reset: rowNumber;
    border: none;
  }
  
  .ranking_table  #tractor::before {
    display: table-cell;
    counter-increment: rowNumber;
    content: counter(rowNumber) ".";
    padding-right: 0.3em;
    text-align: left;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.61);
  }
  
  table {
      width: 100%;
      border-collapse: collapse;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0,0,0,0.1);
      white-space: pre-wrap
  }
  
  th,
  td {
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.61);
      white-space: pre-wrap;
  }
  
  th {
      text-align: left;
  }
  
  thead {
      th {
          background-color: #55608f;
      }
  }
  
  tbody {
      tr {
          &:hover {
              background-color: rgba(255,255,255,0.3);
          }
      }
      td {
          position: relative;
          &:hover {
              &:before {
                  content: "";
                  position: absolute;
                  left: 0;
                  right: 0;
                  top: -9999px;
                  bottom: -9999px;
                  background-color: rgba(255,255,255,0.2);
                  z-index: -1;
                  white-space: pre-wrap
              }
          }
      }
  }

.filter {
  background-image: url('/img/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 49%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}