<div>
    <table class="table table-bordered table-hover table-responsive table-sm">
        <thead>
            <tr>
                <th>Otsikko</th>
                <th><form id="about" action="/admin/about/add" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <input type="submit" value="Add" class="btn btn-success" />
                    </form>
                </th>
            </tr>
        </thead>
        <tbody>
            <% content?.forEach(function(c) { %>
                <tr>
                    <td><%- c.title %></td>
                    <td>
                        <form method="POST" action="/admin/about/edit">
                            <input type="hidden" name="id" id="id" value="<%= c.id %>"/>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                            <input type="submit" value="Edit" class="btn btn-primary">
                        </form>
                    </td>
                </tr>

            <% }) %>
        </tbody>
    </table>
</div>
