<div id="Player" class="bd-code-snippet">
    <table class="table table-sm  table-responsive table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th><form method="post" action="/admin/ranking/add">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                  <input type="submit" value="Add" class="btn btn-success"></form>
                </th>
            </tr>
        </thead>
        <tbody>
        <% players?.forEach(function(c) { %>
            <tr>
                <td><%= c.name %></td>
                <td>
                    <form method="POST" action="/admin/ranking/edit">
                        <input type="hidden" name="id" id="id" value="<%= c.id %>"/>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <input type="submit" value="Edit" class="btn btn-primary">
                    </form>
                </td>
            </tr>
        <% }) %>
        </tbody>

    </table>
</div>
<script>
function myFunction() {
    const words = document.getElementById("selest").value.split('|');
    document.getElementById("id").value = words[0].trim();
    document.getElementById("name").value = words[1].trim();
    document.getElementById("group").value = words[2].trim();
    document.getElementById("points").value = words[3].trim();
}
</script>
